streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
faiss-cpu
langchain_google_genai
pdfminer==20191125
pdf2image
pytesseract
html2text
PyMuPDF
Pillow
chromadb
langchain-community
